<header class="landing">
    <div class="image-container">
        <img src="../../../assets/SpaceX-Logo.svg.png" alt="spaceX-logo">
    </div>
    <div class="landing-info">
        <p>This web app uses SpaceX's public GraphQL API to display a list of the past SpaceX launches along with an associated details page</p>
    </div>
    <div class="landing-actions">
        <button mat-raised-button class="landing-actions--button">
            <a href="https://github.com/Ninad99/angular-graphql">Github repo</a>
        </button>
    </div>
</header>
