<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
    <main>
        <app-landing></app-landing>
        
        <section class="container">
            <mat-card class="card"
                *ngFor="let launch of pastLaunches"
                routerLink="/launchlist/{{ launch.id }}">
                <mat-card-header>
                    <img
                        height="100"
                        width="100"
                        mat-card-avatar
                        loading="lazy"
                        [src]="launch.links.mission_patch_small"
                        alt="Mission patch of {{ launch.mission_name }}"
                    />
                    <mat-card-title>{{ launch.mission_name }}</mat-card-title>
                    <mat-card-subtitle>
                        {{ launch.rocket.rocket_name }} - launched {{ launch.launch_date_utc | relativeTime }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img
                        height="300"
                        width="300"
                        mat-card-image
                        loading="lazy"
                        [src]="launch.links.flickr_images[0]"
                        alt="Photo of {{ launch.mission_name }}"
                    />
                </mat-card-content>
            </mat-card>
        </section>
    </main>
</ng-container>
