.container {
    padding-top: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;

    .card {
        cursor: pointer;
        max-width: 350px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, .4);
        margin-bottom: 10px;
        color: #EAEAEA;
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        // background-color: #5b6467;
        // background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);

        mat-card-header {
            padding-bottom: .5rem;

            mat-card-subtitle {
                color: #aaa;
            }
        }
    }
}